<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>

    <div class="container error_page">
        <img src="/images/404error.png" alt="">
        <h1>Page could not be Found</h1>
        <button type="button" class="btn" id="backButton">Go to Home</button>

    </div>

<script>
    const backButton = document.getElementById('backButton')
    backButton.addEventListener('click', () => {
        window.open('/', '_self')
    })

</script>
</body>

</html>