<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>

    <div class="container error_page">
        <img src="../../public/images/404error.png" alt="">
        <h1>Page could not be Found</h1>
        <button type="button" class="btn">Go to Home</button>

    </div>

</body>

</html>