<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body>
    <!-- navbar start  -->
    {{> navbar}}
    <!-- navbar end  -->

    <!-- main part start  -->
    <div class="container">
        <div class="row mainbody">

            <div class=" col-md-6 col-12 mainbody-right-side ">
                <img src="/images/Tech Life - Remote Life.png" alt="">
            </div>
            <div class="col-md-6 col-12 mainbody-left-side animate__animated animate__fadeIn">
                <p>Welcome to weather app</p>
                <h1>I'm a <span>mern stack</span> Developer</h1>
            </div>


        </div>
    </div>
    <!-- main part end  -->

    <!-- footer start  -->
    {{> footer}}

    <!-- footer end  -->




</body>

</html>